
<!doctype html>
<html lang="en" class="fullscreen-bg">
<head>
    <title>@ViewBag.Title | Easy Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/apple-icon.png">
    @*<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">*@
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper" style="background-color: #e7f4f5">
        @RenderBody()
    </div>
    <!-- END WRAPPER -->
</body>
</html>
