<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>      
   <add name="easyconnection" providerName="System.Data.SqlClient" connectionString="server=.;database=EasyManager;Intergrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="server=.;database=EasyManager;Intergrated Security=true"/>
  </appSettings>
</configuration>